@import url("../../styles/general.css");

.cmpInput{
    border-radius: 6px;
    border: 2px solid var(--primary-light);
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.cmpInput:focus{
    background-color: var(--component-bg-active);
    box-shadow: 0 0 0 3px rgba(124, 58, 237, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: var(--primary);
}