
.modalUserContainer {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    position: fixed;
    background-color: var(--container-color);
    border: 2px;
    border-style:solid;
    border-color: black;
    padding: 10px;
    border-radius: 10px;
}

.modalButtonContainer {
    display: flex;
    flex-direction: row;
}