
services:
  db:
    image: postgres:16
    container_name: PXpostgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgresPass
      POSTGRES_DB: Base_proyecto
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

  backend:
    build: ./backend
    container_name: backend_app
    env_file: ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm start
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "3000:3000"
    command: npm start
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  postgres_data:
