
.rowContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rowContainer :last-child{
    margin-left: 5px;
}
.textarea {
    min-height: 80px; 
    resize: vertical;   
    border-radius: 5px;
}

.textareaContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Button{
    padding: 10px;
    border-radius: 5px;
}
