.tabla {
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
    border-radius: 10px;
}

.tabla th {
    background-color: var(--primary-dark);
    color: var(--text);
}

.tabla th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.tabla th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.fila td {
    padding: 15px;

}

.fila:last-child td:first-child {
    border-radius: 0px 0px 0px 10px;
}

.fila:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
}

.fila:nth-child(even) td {
    background-color: var(--primary-light);
}

.tableContainer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.tools {
    display: none;
}

.fila:hover .tools {
    display: flex;
    flex-direction: row;
}

.Iconimg {
    width: 10px;
    height: 10px;
}

.buttonMinus {
    width: 200px;
    height: 22px;
    padding: 5px;
    border-radius: 3px;
}

@media (max-width: 500px) {
    .tabla {
        width: 95%;
    }

    .tableContainer {
        padding: 2px;
    }

    .tools{
        display: flex;
    }
}