.mainContainer{
    width: 100%;
}

.distContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.tableContainer{
    height: 100%;
    margin-top: 10px;
}


.tabla {
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 10px;
    width: 700px;
}

.tabla th {
    background-color: var(--primary-dark);
    color: var(--text);
    padding: 10px;
}

.tabla th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.tabla th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.fila td {
    padding: 10px;
}

.fila:last-child td:first-child {
    border-radius: 0px 0px 0px 10px;
}

.fila:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
}

.fila:nth-child(even) td {
    background-color: var(--primary-light);
}
.addButton{
    width: 150px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}

.upThings{
    display: flex;
    flex-direction: row;
    height: 35px;
}

