.mainContainer {
    width: 100%;
}

.distContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 600px;
}



.tabla {
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 10px;
}

.tabla th {
    background-color: var(--primary-dark);
    color: var(--text);
    padding: 10px;
}

.tabla th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.tabla th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.fila td {
    padding: 7px;
}

.fila:last-child td:first-child {
    border-radius: 0px 0px 0px 10px;
}

.fila:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
}

.fila:nth-child(even) td {
    background-color: var(--primary-light);
}

.verButton {
    width: 50px;
}

@media (max-width: 500px) {
    .tabla th {
        padding: 2px;
    }

    .mainContainer {
        flex-direction: column-reverse;
    }

    .tableContainer {
        height: 1050px;
        width: 450px;
    }

    .tabla {
        width: 450px;
    }

    .tabla tr th {
        width: 20px;
    }

    .tabla th:first-child {
        width: 10px !important;
    }
}

.addButton {
    width: 150px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}

.upThings {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.noSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}


.noSelect:hover td{
    background-color: var(--primary-dark) !important;
}