@import url("../../styles/general.css");

.cmpInput{
    border-radius: 5px;
    border-color: var(--primary-light);
    width: 100%;
    height: 35px;
    margin-top: 5px;
    box-sizing: border-box;
}

.cmpInput:focus{
    background-color: var(--component-bg-active);
}