
@import url("../../styles/general.css");

.modalBase{
    background-color: var(--container-color);
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 15px;
    border-radius: 12px;
    border: 3px solid var(--primary);
    box-shadow: var(--shadow-2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  backdrop-filter: blur(4px);
}