

.modalButtonContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: flex-end;
}

.modalButtonContainer :last-child{
    margin-left: 10px;
}

.button{
    padding: 10px;
    border-radius: 5px;
}

.select {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--primary);
    border-radius: 6px;
    background-color: white;
    outline: none;
}