.ButtonContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.ButtonContainer :last-child{
    margin-left: 5px;
}

.Button{
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}