

img {
    width: 150px;
}

.imgContainer {
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pDirect {
    color: var(--component-alert-color);
    box-sizing: border-box;
}

.span {
    cursor: pointer;
}


.content {
    width: 300px;
}

.imgContainerBg {
    flex: 1;
    background: var(--rayas);
    margin-right: -20px;
    margin-block: -20px;
    margin-left: 20px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    color: var(--text);
}

.loginContainer {
    background: var(--ondas);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.message {
    text-align: center;
}

.backButtom {
    position: absolute; 
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 900px) {
    .hideScreen {
        display: none;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logInButtom{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}