.tabla {
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
    border-radius: 10px;
}

.tabla th {
    background-color: var(--primary-dark);
    color: var(--text);
    height: 40px;
}

.tabla th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.tabla th:last-child {
    border-radius: 0px 10px 10px 0px;
    width: 100px;
}

.fila td {
    padding: 10px;
}

.fila:last-child td:first-child {
    border-radius: 0px 0px 0px 10px;
}

.fila:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
}

.fila:nth-child(even) td {
    background-color: var(--primary-light);
}

.headerContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px 10px 10px 10px;
}

.tablaContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainButton{
    border-radius: 10px;
}

.addButton{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .headerContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    .tabla{
        width: 100%;
    }
    .mainButton{
        grid-column: span 2;
        height: 50px;
    }
}

