.tabla {
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
    border-radius: 10px;
}

.tabla th {
    background-color: var(--primary-dark);
    color: var(--text);
}

.tabla th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.tabla th:last-child {
    width: 50px;
}

.fila td {
    padding: 10px;
}

.fila:last-child td:first-child {
    border-radius: 0px 0px 0px 10px;
}

.fila:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
}

.fila:nth-child(even) td {
    background-color: var(--primary-light);
}

.headerContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px 10px 10px 10px;
}

.tablaContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .headerContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}