.card {
  width: 160px;
  height: 50px;
  padding: 1rem;
  background: var(--primary);
  box-shadow: var(--shadow-1);
  display: flex;
  justify-items: center;
  align-items: center;
  user-select: none;
  color: var(--component-text);
  font-family: var(--font-family-primary);
  border-style: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.card:hover {
  background: var(--component-bg-hover);
  box-shadow: var(--shadow-2);
  transform: translateY(-3px);
}

.card:active{
  background-color: var(--component-bg-active);
  transform: translateY(0);
}

.title {
  font-weight: 600;
}

@media (max-width: 500px) {
  .card {
    height: 70px;
    width: 100%;
  }
}
