@import url('../../styles/general.css');
.card {
  width: 160px;
  height: 50px;
  padding: 1rem;
  border-radius: 12px;
  background: var(--primary);
  box-shadow: var(--shadow-1);
  display: flex;
  justify-items: center;
  align-items: center;
  user-select: none;
  color: var(--component-text);
  font-family: var(--font-family-primary);
}

.card:hover {
  background: var(--component-bg-hover);
}

.card:active{
  background-color: var(--component-bg-active);
}

.title {
  font-weight: 600;
}

/* Pantallas medianas — tablets */
@media (max-width: 768px) {
  .card {
    width: 220px;
    height: 150px;
  }
}

/* Pantallas pequeñas — móviles */
@media (max-width: 480px) {
  .card {
    width: 160px;
    height: 120px;
  }
}