.card {
  width: 160px;
  height: 50px;
  padding: 1rem;
  background: var(--primary);
  box-shadow: var(--shadow-1);
  display: flex;
  justify-items: center;
  align-items: center;
  user-select: none;
  color: var(--component-text);
  font-family: var(--font-family-primary);
  border-style: none;
  cursor: pointer;
}

.card:hover {
  background: var(--component-bg-hover);
}

.card:active{
  background-color: var(--component-bg-active);
}

.title {
  font-weight: 600;
}

@media (max-width: 500px) {
  .card {
    height: 70px;
    width: 100%;
  }
}
