@import url('../../styles/general.css');

.cards {
  margin: 10px;
  border-radius: 10px;
  height: 100px;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
}

.cards p {
  margin: 2px 0;
  padding: 0;
}

.cards:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.id {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}