@import url('../../styles/general.css');

.menuContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    background-color: var(--primary);
    align-items: center;
}

.menuUp {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.last {
    margin-top: auto;
}
.logoContainer {
    margin: 10px;
    border-radius: 5px;
}
.logoContainer:hover {
    background-color: var(--primary-light);
}

.logo{
    width: 80px;
    height: 60px;
}

.showButton {
    display: none;
    background-color: var(--primary);
    width: 80px;
    height: 60px;
    border-style: none;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    color: var(--component-text);
}

.showButton:hover{
    background-color: var(--primary-light);
}

.pageContainer {
    display: flex;
    flex-direction: row;
}


.menuContainerExtra {
    display: flex !important;
    z-index: 9999;
    position: fixed;
    inset: 0;
}
.buttonContainer{
    display: none;
    width: 100%;
    background-color: var(--primary-light);
    margin-bottom: 5px;
}

.pageSon{
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
    .menuContainer {
        display: none;
    }

    .showButton {
        display: flex;
    }
    .buttonContainer{
        display: flex;
    }
    .pageContainer {
        flex-direction: column !important;
    }

}

@media (min-width: 700px) {
    .menuContainerExtra {
        position: static !important;
    }

}

