@import url('../../styles/general.css');

.alertCard{
    background-color: var(--primary);
    color: var(--text);
    display: flex;
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.alertCardAnimated{
    opacity: 0;
}