.tabla {
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
    border-radius: 10px;
}

.tabla th {
    background-color: var(--primary-dark);
    color: var(--text);
}

.tabla th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.tabla th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.fila td {
    padding: 10px;
}

.fila:last-child td:first-child {
    border-radius: 0px 0px 0px 10px;
}

.fila:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
}

.fila:nth-child(even) td {
    background-color: var(--primary-light);
}

@media (max-width:700px) {
    .tabla {
        width: 100%;
    }

}

.tableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
        height: 470px;

}

.buttomContainer {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttomContainer button {
    width: 100px;
}

.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.MainButton{
    padding: 10px;
    border-radius: 5px;
}
.select {
    width: 100%;
    border: 2px solid var(--primary);
    border-radius: 6px;
    background-color: white;
    outline: none;
}

.statusButton{
    width: 100px;
    height: 20px;
    border-radius: 5px;
}
@media (max-width: 500px) {
    .mainContainer{
        flex-direction: column-reverse;
    }
    .tableContainer{
        height: 100%;
    }
}